.logo {
  height: 32px;
  background: #284861;
  margin: 16px;
}
.ant-layout-sider{
	background: white !important;
}
.ant-layout-sider-trigger{
	background:#b7bcc0;
}
.ant-menu-inline{
	border-right: none !important;
}
.ant-layout-sider-children{
    border-right: 1px solid #eee;
}
/*Header*/
.header-box{
	display: flex;
	justify-content: space-between;
	padding: 0 22px;
}